@use "./_partials/" as *;
@use "./components/" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	border: none;
	margin: 0;
	padding: 0;
}

body {
	font-family: $Font400;
	max-width: 1440px;
	background-color: $Very-Light-Gray;
	margin: 1em auto;
}

@media screen and (min-width: 60rem) {
	// //
	// body {
	// 	width: 1440px;
	// }
}
