@font-face {
	font-family: "Poppins-200";
	font-weight: 200;
	font-display: swap;
	src: url(/assets/fonts/Poppins-ExtraLight.ttf);
}

@font-face {
	font-family: "Poppins-400";
	font-weight: 400;
	font-display: swap;
	src: url(/assets/fonts/Poppins-Regular.ttf);
}

@font-face {
	font-family: "Poppins-600";
	font-weight: 600;
	font-display: swap;
	src: url(/assets/fonts/Poppins-SemiBold.ttf);
}
