// -----> Primary Colours  <-----

$Red: #ea5353;
$Cyan: #45d3d3;
$Orange: #fcaf4a;
$Blue: #549ef2;

// -----> Neutral Colours <-----
$Very-Dark-Blue: #4c4e61;
// $Grayish-Blue: #a3a5ae;
// $Grayish-Blue: #8a8c94;
$Grayish-Blue: #6f7177;
$Very-Light-Gray: #fafafa;

// ------> Fonts <------

$Font200: "Poppins-200";
$Font400: "Poppins-400";
$Font600: "Poppins-600";

// Main-heading padding

$padding1: 0.25em 0;
$padding2: 0.5em 0;
$padding3: 1em 0;

// Font-sizing:

$ParagraphFontSizing: clamp(0.75rem, 0.6786rem + 0.3571vw, 1rem);
