// -----> Primary Colours  <-----

$Red: #ea5353;
$Cyan: #45d3d3;
$Orange: #fcaf4a;
$Blue: #549ef2;

// -----> Neutral Colours <-----
$Very-Dark-Blue: #4c4e61;
$Grayish-Blue: #6f7177;
$Very-Light-Gray: #fafafa;

// ------> Fonts <------

$Font200: "Poppins-200", sans-serif;
$Font400: "Poppins-400", sans-serif;
$Font600: "Poppins-600", sans-serif;

// Main-heading padding

$padding1: 0.25em 0;
$padding2: 0.5em 0;
$padding3: 1em 0;

// Font-sizing:

$ParagraphFontSizing: clamp(0.9375rem, 0.8839rem + 0.2679vw, 1.125rem);
