@use "../_partials/" as *;

.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(auto-fit, 1fr);
	gap: 20px;
	padding: 0 1em;

	.grid-item {
		border-radius: 10px;
		box-shadow: 0px 3px 5px $Very-Dark-Blue;
		background-color: #fff;

		// display

		display: grid;
		gap: 50px;
		padding: 1em 2em;

		.card_img-container {
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}

		.card_text-container {
			line-height: 1.5;
			& > .card_title {
				font-family: $Font600;
				color: $Very-Dark-Blue;
				font-size: clamp(1.125rem, 1.0179rem + 0.5357vw, 1.5rem);
				margin-bottom: 0.5em;
			}

			& > .card_text {
				color: $Grayish-Blue;
				font-family: $Font200;
				font-size: $ParagraphFontSizing;
			}
		}
	}

	// Individual card selectors adding border colors that are unique to each card.
	.karma {
		border-top: $Orange 5px solid;
	}

	.calculator {
		border-top: $Blue 5px solid;
	}

	.supervisor {
		border-top: $Cyan 5px solid;
	}
	.team-builder {
		border-top: $Red 5px solid;
	}

	// The two stacked cards that appear in the center on the desktop view.
	& > .center-wrapper {
		display: grid;
		gap: 20px;
	}
}

// Media query || Desktop
@media screen and (min-width: 60rem) {
	.grid-container {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;

		& > .grid-item {
			&.supervisor,
			&.calculator {
				align-self: center;
			}
		}
	}
	.center-wrapper {
		display: grid;
		grid-template-rows: repeat(auto-fit, 1fr);
		grid-template-columns: 1fr;
		gap: 25px;

		& > .grid-item {
			background-color: white;
		}
	}

	.card_text-container {
		& > .card_text {
			padding-right: 2em;
		}
	}
}
